
.profile__edit-button {
  background-image: url('../../../images/editButton.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-grid;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: 17px;
}

