.place__like {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: center;
  width: 20px;
  height: 19px;
  padding: 0;
  transition: .3s;
}

.place__like:hover {
  opacity: .6;
  transform: scale(1.3);
}
