.popup-image__container {
  max-width: 75vw;
  max-height: 75vh;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 0;
  align-items: center;
  justify-content: center;
}
