@import url('./__description/place__description.css');
@import url('./__image/place__image.css');
@import url('./__like/place__like.css');
@import url('./__name/place__name.css');



.place {
  max-width: 282px;
  background-color: #fff;
  border-radius: 10px;
}
